<div class="error-top" *ngIf="errorMessage">{{ errorMessage }}</div>
<div class="wrap flex center">
    <div class="select">
        <input tabindex="0" #autocompelet autofocus class="form-control" [(ngModel)]="choosenCity" placeholder="choose location">
        <!-- <ul>
            <li *ngFor="let item of cities">{{item.LocalizedName}} <span>{{item.Key}}</span></li>
        </ul> -->
        <app-autocomplete [cities]="cities" [show]="showList" (SelectEvent)="autoCompeletCity($event)"></app-autocomplete>
    </div>
    <!-- <div class="select">
        <input list="units" [(ngModel)]="choosenUnits" class="form-control" placeholder="units" (focus)="focusUnits($event)" />
        <datalist name="tempruture" id="units">
            <option *ngFor="let item of units">{{item}}</option>
        </datalist>
    </div> -->
    <!-- <button class="plus fa" (click)="showWeather()">
    </button> -->

</div>